.main {
  margin-top: 46px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.hero__title {
  font-size: 45px;
  margin-bottom: 22px;
}

.hero__desc {
  margin-bottom: 36px;
}

.hero__img {
  object-fit: cover;
  min-height: 490px;
}

@media (max-width: 480px) {
  .main {
    margin-top: 66px;
  }

  .hero {
    margin-bottom: 80px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .hero__desc {
    margin-bottom: 28px;
  }
}
