@import url("./config/fonts.css");
@import url("./config/variables.css");
@import url("./config/normalize.css");

@import url("./sections/header.css");
@import url("./sections/hero.css");
@import url("./sections/about.css");
@import url("./sections/history.css");
@import url("./sections/portfolio.css");
@import url("./sections/contacts.css");

body {
  font-weight: 500;
  line-height: var(--line-height);
  font-size: var(--font-size-base);
  font-family: var(--roboto-font);
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.container {
  max-width: 970px;
  padding-inline: 10px;
  margin-inline: auto;
}

@media (max-width: 480px) {
  body {
    font-size: var(--font-size-mobile);
  }

  .container {
    padding-inline: 20px;
  }
}
