@import url("./config/fonts.css");
@import url("./config/variables.css");
@import url("./config/normalize.css");
@import url("./sections/header.css");

body {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--roboto-medium);
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.container {
  max-width: 970px;
  padding-inline: 10px;
  margin-inline: auto;
}
